[data-theme="red"]{
    --primary-color:#A32810;
    --info-color:#1e1e1e;
    --background-color1: #A32810;
    --text-h1-color:#A32810;
    --text-span-color:#A32810;
    --text-span-color-active:#A32810;
    --border-color:#A32810;
    --icon-text1:#fff;
}
[data-theme="blue"]{
    --primary-color:#0A24E8;
    --info-color:#0A24E8;
    --background-color1: #0A24E8;
    --text-h1-color:#0A24E8;
    --text-span-color:#0A24E8;
    --text-span-color-active:#0A24E8;
    --border-color:#0A24E8;
    --icon-text1:#fff;
}
[data-theme="cyan"]{
    --primary-color:#039cae;
    --info-color:#039cae;
    --background-color1: #039cae;
    --text-h1-color:#039cae;
    --text-span-color:#039cae;
    --text-span-color-active:#039cae;
    --border-color:#039cae;
    --icon-text1:#fff;
}